@tailwind base;
@tailwind components;
@tailwind utilities;

/* Establecer el color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #112D4E;
}

/* Establecer el fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: #D6DADB;
}

/* Establecer el ancho de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 6px;
}